.restaurant {
    max-width: 1200px;
    margin: 20px auto;
}

.restaurant_card_top_card_and_image {
    display: flex;
    justify-content: space-between;
}

.restaurant_card_top_card_and_image>img{
    width: 450px;
    border-radius: 15px;
}

.restaurant_card_wrapper>a {
    pointer-events: none; 
}

.restaurant_card_wrapper>a>div {
    width: 340px;
    box-shadow: none !important;
}

.restaurant_reviews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
}

.btn {
    margin-bottom: 24px;
}

@media (max-width: 810px) {
    .restaurant_card_top_card_and_image {
        display: block;
        margin-bottom: 20px;
    }

    .restaurant_reviews {
        display: block
    }

    .restaurant_card_top_card_and_image>img{
        width: 340px;
        border-radius: 20px;

    }

    .restaurant {
        padding: 5px;
    }
  }