#description {
	width: 100%;
}

input[type="text"] {
	height: 40px;
}

.submit-button:disabled {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

.error-text {
	color: #b40e0e;
}

.invalid input {
	border: 1px solid #b40e0e;
	background-color: #fddddd;
}

.invalid input:focus {
	border-color: #ff8800;
	background-color: #fbe8d2;
}
