.restaurant_card {
    background-color: aqua;
}

.restaurant_card_top_title {
    background-color: aquamarine;
}

.restaurant_review_line {
    background-color: azure;
}

.ratings>.fa {
    color:aqua;
}

.restaurant_card_single_description {
    background-color: beige;
}

