.home {
  max-width: 1400px;
  margin: 20px auto;
}

.ul {
  display: grid;
  padding: 0 10px;
  row-gap: 20px;
  column-gap: 10px;
  list-style: none;
}
.ul > li {
  min-width: 180px;
  width: 100%;
  margin: 0 auto;
}

.link_style {
  color: inherit;
  text-decoration: inherit;
}

@media only screen and (min-width: 576px) {
  .ul {
    grid-template-columns: 1fr 1fr;
    padding: 0 5%;
    column-gap: 5%;
    row-gap: 30px;
  }
}

@media only screen and (min-width: 860px) {
  .ul > li {
    width: 80%;
  }
}
