@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Roboto:wght@100&family=Source+Sans+Pro:wght@200&family=Zen+Antique&display=swap');

.restaurant_card {
    width: 340px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 7px;

}

.restaurant_card_top_title>h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    color: #000;
}

.restaurant_card_top_title {
    display: flex;
    justify-content: space-between;
}

.restaurant_card_single_description, .restaurant_card_single_description>a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bolder;
    color: #000;
    margin-bottom: 0px;
    margin-top: 1px;
    font-size: 15px;
}

.ratings {
    margin-bottom: 7.5px;
}

.ratings>i {
    margin-right: 6px;
}